html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

header {
    background-color: #2f80ed;
}

.header-item {
    display: contents;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* .flex-container div {

} */

/** navigation bar **/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: auto;
}

.navbar-header {
    padding: 10px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    padding: 12px;
}

.nav-list li a:hover {
    background-color: #f0f0f0;
}

/* footer */
.flex-container-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.footer-nav {
    display: flex;
}

.footer-nav-content{
    display: block;
    padding-left: 8px;
}